In [1]:
import pandas as pd

In [28]:
df = pd.read_csv("shoe_data.csv")
df.head()

,Brand,Sneaker Name,Sale Price,Retail Price,Shoe Size,Buyer Region,Release Date,Order Date
0,Yeezy,Adidas-Yeezy-Boost-350-Low-V2-Beluga,1097.0,220,11.0,California,2016-09-24,2017-09-01
1,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Copper,685.0,220,11.0,California,2016-11-23,2017-09-01
2,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Green,690.0,220,11.0,California,2016-11-23,2017-09-01
3,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red,1075.0,220,11.5,Kentucky,2016-11-23,2017-09-01
4,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red-2017,828.0,220,11.0,Rhode Island,2017-02-11,2017-09-01

In [29]:
for c in df.columns:
    print(c, len(pd.unique(df[c])))

Brand 2
Sneaker Name 50
Sale Price 1595
Retail Price 8
Shoe Size 26
Buyer Region 51
Release Date 35
Order Date 531

In [23]:
df[["Brand", "Sneaker Name"]].groupby(by="Brand").agg({"Sneaker Name": pd.Series.nunique}).head()

           Sneaker Name
Brand
 Yeezy               20
Off-White            30

In [35]:
df["Order Date"].str.split(pat="-", expand=True).head()
df["Release Date"].str.split(pat="-", expand=True).head()

      0   1   2
0  2016  09  24
1  2016  11  23
2  2016  11  23
3  2016  11  23
4  2017  02  11